



.slider-window{
	width: 100%;
	height: 100%;
	display: flex;
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
	scroll-snap-type: x mandatory;
    overflow-y: auto;
}

.slider-window::-webkit-scrollbar {
	display: none;
	width: 0px;
}

.slider-image {
	height: 100%;
    transition: transform 0.4s ease-in;
	min-width: 100%;
    scroll-snap-align: center;

}
