.review-container{
    padding: 1.5em 0;


}

.review-wrapper{
    margin: auto ;
    display: flex;
    overflow-x: scroll;
    width: 100vw;
    gap: 10px;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
}



.line-rule{
    border: .5px solid var(--light-grey);
    width: 90%; 
    margin: 3em auto 2em auto;
    
}


.review-wrapper::-webkit-scrollbar {
display: none;
width: 0px;
}

.review-avatar{
    width: 45px;
    height: 45px;
    border-radius: 50%;

}
.review-avatar img{
    width: 100%;
    height:100%;
    object-fit: cover;
    border-radius: inherit;
}
.review-top{
    display: flex;
    align-items:center ;
}
.review-details{
    margin-left: .5em;
}
.review-name{
    font-weight: 600;
    margin: 0;
    color: var(--text-color-dark);
}

.review-date{
    margin: .3em 0 0 0;
    font-size: 14px;
}

.review-section{
    min-width: 83vw ;
    border-radius: .8em;
    padding:calc(1vmax + 1em);
    scroll-snap-align: center;
    border: 1px solid var(--light-grey);
}

.review-section:first-child{
    margin-left:5vw;
}

.review-comment{
    line-height: 1.7;
    color: var(--text-color-dark);
}
.review-rating{
    color: var(--text-color-dark);
    font-size: 22px;
    display: flex;
    align-items: center;
    font-weight: 600;
    margin-left:5vw;
    
}

.review-cta{
    display: none;
}

.rating-icon{
    font-size: 13x;
    margin-right: .3em;
}


@media (min-width:750px){
    .review-section:first-of-type{
        margin: 2em;
    }
    .review-section{
        border: none;
        grid-column: span 1;
        padding: 0;
        margin: 2em;
        width: 100%;
    }
  
    .review-container{
        width: 90%;
        max-width: 1200px;
        margin: auto;
    }

    .review-wrapper{
        display: block;
        width: 100%;
    }
    .review-rating{
        margin-left: 0;
    }
    .line-rule{ 
        width: 100%;
    }

}

@media (min-width: 1100px){
   .review-wrapper{
    display: grid;
    width: 100%;
    column-gap: 8%;
    grid-template-columns: 40% 40%;
   }

   .review-section{
    margin:1.5em 0;
    padding: 0;
    min-width:0;
   }

   .review-section:first-of-type{
     margin: 1em 0 0 0;
   }

.review-cta{
    border: none;
    padding: .9em;
    display: block;
    border: 1px solid var(--text-color-dark);
    border-radius: .5em;
    font-weight: 600;
    background-color: transparent;
}


.rating-show{
    color: var(--text-color-dark);
    font-weight: 600;
    display: inline-flex;
    align-items: center;
}
.rating-icon--show{
    font-size: 12px;
    margin-left: .5em;
}



}




