
  .hero-wrapper{
    display:flex;
    overflow-y: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    height: 67vmin;
  }
  .hero-wrapper::-webkit-scrollbar{
    display: none;
    width: 0px;
  }

  .hero-container-image {
    scroll-snap-align: center;
    min-width: 100%;
  }
  
  .hero-container-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media(min-width: 745px){
    .hero-wrapper{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-auto-rows: minmax(1fr, 300px);
        gap: 10px;
        height: 20%;
        margin: auto;
    }

    .big{
        grid-row: span 2;
        grid-column: span 2;
    }
     .hero-container-image{
        height: 100%;
     }

    .hero-container-image:first-of-type,.hero-container-image:first-of-type img{
        border-radius: 15px 0 0 15px;
    }

    .hero-container-image:nth-of-type(3),.hero-container-image:nth-of-type(3) img{
        border-radius: 0 15px 0 0;
    }


    .hero-container-image:nth-of-type(5), .hero-container-image:nth-of-type(5) img{
        border-radius: 0 0 15px 0;
    }

  }
  
