.details-description{
    width: 90%;
    margin: auto;
    padding: .7em 0;
    border-bottom: 1px solid var(--light-grey);
}

.details-description-seperation{
    width: 2px;
    height: 2px;
    background-color: var(--text-color-dark);
    display:inline-block;
    border-radius: 50%;
}



.details-description-text{
    display: flex;
    align-items: center;
    font-size: 14px;
    color: var(--text-color-dark);
    gap: 8px;
    flex-wrap: wrap;
 
}

.details-description-text-big{
    font-size: 16px;
}

.details-description-title{
    font-weight: 600;
    font-size: 26px;
    color: var(--text-color-dark);
}
.details-description-stats{
    display: flex;
    align-items: center;
}

.details-description-stats-primary{
    font-weight: 600;
    text-decoration: underline;

}

.details-description-stats-icon{
    margin-right: 5px;
}


/* second section styles */

.description-wrap{
  width: 70%;
}

.details-description-small{
    font-size: 22px;
    line-height: 1.5;
}
.details-description-status span{
    font-weight: 600;
}

.details-description-illustration{
    display: inline-block;
     height: 45px; 
     width: 45px; 
     fill: rgb(227, 28, 95);
      stroke:var(--light-grey);
      margin-top: -2%;
}
.details-description-status{
    color:var(--text-color-dark);
    font-size: 15px;
}

.details-description--flexed{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.details-description-img{
    object-fit: cover; 
    vertical-align: bottom;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}



/* third section */


.details-description-item-icon svg{
     display: block;
     height: 24px; 
     width: 24px; 
     fill: var(--text-color-dark);
}


.detail-description-text-sec{
    font-size: 14px;
    margin: 0;
    line-height: 1.5;
}

.detail-description-text-primary{
    color: var(--text-color-dark);
    font-weight: 600;
    margin: 0 0 .3em 0;
    line-height: 1.6;
}

.details-description-item{
    display: flex;
    margin:1.2em 0;
    gap: 1em;
}


/* fourth section */

.details-description-logo{
    width: 123px;
    display: inline-block;
    margin: 1em 0 .5em 0;
}
.details-description-status--small{
    font-size: 14px;
}

.details-description-item-link{
    font-size: 14px;
    color: var(--text-color-dark);
    font-weight: 600;    display: inline-flex;
    margin-bottom: 1em;
    align-items: center;
    
}


/* fifth section */

.details-description-btn{
    display:block;
    width: 100%;
    padding: .9em;
    background: none;
    border: 1px solid var(--text-color-dark);
    font-weight: 600;
    border-radius: 8px;
    margin-bottom: 1em;
}

.detail-description-text-primary--light{
    font-weight:400;
}

.detail-description-text-line{
    text-decoration: line-through;
}

